@import "tailwindcss";

@font-face {
    font-family: "Outfit";
    font-style: medium;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/Outfit-Medium.ttf") format("true");
}
@font-face {
    font-family: "Outfit";
    font-style: extrabold;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Outfit-ExtraBold.ttf") format("ttf");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/Raleway-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("./fonts/Raleway-ExtraBold.ttf") format("ttf");
}
@theme {
    --font-outfit: "Outfit", sans-serif;
}
@theme {
    --font-raleway: "Raleway",sans-serif;
}